body {
    background-color: #666666;
    font-family: Arial, Helvetica, Sans-Serif;
    font-size: 90%;
}

div {
    margin-top: 6px;
    padding: 6px;
    border: 1px solid #000000;
}

#header {
    background-color: #990000;
    width: 779px;
    color: #FFFFFF;
    font-weight: bold;
    font-size: 120%;
}

#navigation {
    background-color: #CCCCCC;
    width: 779px;
}

#content {
    background-color: #999999;
    width: 464px;
    margin-bottom: 6px;
    float: left;
}

#rightpanel {
    background-color: #999999;
    width: 295px;
    margin-left: 484px;
}

#footer {
    background-color: #CCCCCC;
    width: 779px;
    text-align: center;
    clear: left;
}
