#header {
    background-color: #333;
    color: white;
    padding: 10px;
}

#menu {
    background-color: #555;
    color: white;
    width: 120px;
    float: left;
    padding: 10px;
}

#content {
    background-color: #777;
    color: white;
    margin-left: 140px;
    padding: 10px;
    height: 200px;
}

#footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 10px;
    clear: both;
}
